{% extends "layout.html" %}
{% block body %}
    <!-- Projects Section-->
    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                     <!-- Project Card 0-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <a href="https://github.com/Karan-Verma1/Library-Management-System-using-Flask"><h2 class="fw-bolder">Library Management System Web Application</h2></a>
                                    <p>The Library Management Web App is an interactive application developed using Python's Flask framework, designed to streamline the management of library resources. This web-based solution provides an intuitive interface for both librarians and users, ensuring efficient handling of book inventory and user data.</p>
                        </div>
                    </div>
                     </div>
                    <!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <a href="https://github.com/Karan-Verma1/Movie_Ticket_Booking"><h2 class="fw-bolder">Movie Ticket Booking Web Application</h2></a>
                                    <p>I developed a movie ticket booking web application using Python Flask. The web application includes database connectivity and features a homepage, a contact us page, and an about us page.</p>
                        </div>
                    </div>
                            </div>
                    <!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <a href="https://github.com/Karan-Verma1/Food_Ordering_System"><h2 class="fw-bolder">Food Ordering System</h2></a>
                                    <p>I created a Food Ordering System project in C/C++ language, which is a console application with a text-to-voice synthesizer. The application consists of both customer and admin panels. Customers can place orders using the application. This project was awarded 3rd Prize in the Inter-District Science Exhibition.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section-->
    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('Hire') }}">Contact me</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
